form {
    input[type=text] {
        max-width: 300px;
        margin: auto;
    }

    label {
        margin-bottom: 5px;

        &.bold {
            font-weight: bold;
        }
    }

    textarea {
        border: 1px #dee2e6 solid;
        width: 100%;
        max-width: 700px;
        border-radius: 5px;
    }

    button {
        margin-left: 20px;

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            border: 1px #CCC solid;
        }
    }
}

.alert {
    margin-top: 25px;
}

.result-container {
    display: none;
    
    h5 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .result-text-container {
        background-color: #e9ecef;
        padding: 30px;
        border-radius: 10px;
    }

    .option-content-container {
        border: 1px #CCC solid;
        border-radius: 5px;
        max-width: 600px;
        margin: auto;
        text-align: initial;
        
        pre {
            white-space: pre-wrap;       /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
            padding: 20px;
        }
    }
}

.select-model-deployment-container {
    margin: auto;
    max-width: 300px;
    margin-bottom: 20px;

    select option {
        text-align: center;
    }
}