form input[type=text] {
  max-width: 300px;
  margin: auto; }
  form label {
    margin-bottom: 5px; }
    form label.bold {
      font-weight: bold; }
form textarea {
  border: 1px #dee2e6 solid;
  width: 100%;
  max-width: 700px;
  border-radius: 5px; }
  form button {
    margin-left: 20px; }
    form button:first-child {
      margin-left: 0px; }
      form button:last-child {
        border: 1px #CCC solid; }

.alert {
  margin-top: 25px; }

  .result-container {
    display: none; }
    .result-container h5 {
      margin-top: 20px;
      margin-bottom: 20px; }
      .result-container .result-text-container {
        background-color: #e9ecef;
        padding: 30px;
        border-radius: 10px; }
        .result-container .option-content-container {
          border: 1px #CCC solid;
          border-radius: 5px;
          max-width: 600px;
          margin: auto;
          text-align: initial; }
          .result-container .option-content-container pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            padding: 20px; }

.select-model-deployment-container {
  margin: auto;
  max-width: 300px;
  margin-bottom: 20px; }
  .select-model-deployment-container select option {
    text-align: center; }
