{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/pages/index.css') }}" />
{% endblock %}

{% block content %}
<div class="highlight-background-container">
    <div class="container highlight-message-container">
        <h1 class="display-3">Azure OpenAI</h1>
        <p>Esta aplicação visa compartilhar exemplos de uso do Azure OpenAI. Qualquer informação solicitada para execução dos exemplos é armazenada - apenas - em sua máquina local utilizando o localStorage do Javascript.</p>
        <p><a class="btn btn-primary btn-lg" href="/config-openai" role="button">Configurar Azure OpenAI</a></p>
    </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm container-base-default examples-container">
    <h6 class="border-bottom border-gray pb-2 mb-0">Exemplos</h6>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Sugestão de slogan</strong>
            <a href="/examples/tagline-shop">Ver Exemplo</a>
        </div>
        <span class="d-block">Informe o tipo de estabelecimento comercial ou seguimento de negócio e obtenha uma sugestão de slogan.</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Sugestão de amizades</strong>
            <a href="/examples/friendship-suggestions">Ver Exemplo</a>
        </div>
        <span class="d-block">Dada uma lista de pessoas, retorna sugestões de possíveis amizades.</span>
        </div>
    </div>
    <div class="media text-muted pt-3">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Sugestão de produtos semelhantes</strong>
            <a href="#">Ver exemplo</a>
        </div>
        <span class="d-block">Dada uma lista de produtos, retorna uma lista de produtos semelhantes.</span>
        </div>
    </div>
    <!-- <small class="d-block text-right mt-3">
        <a href="#">All suggestions</a>
    </small> -->
</div>
{% endblock %}