.alert {
    margin-top: 25px;
}

form .item {
    margin-top: 20px;
}

form .item:first-child {
    margin-top: 0px;
}

form .row h4 {
    margin: 0px;
    margin-top: 30px;
}

form .row:first-child h4 {
    margin-top: 0px;
}

.model-deployments-options {
    margin-top: 10px;
}

.model-deployments-options li div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.model-deployments-options button {
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #999;
}

.model-deployments-options button:hover {
    color: black !important;
    font-weight: bold;
}