{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/app/alert.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/examples/base.css') }}" />
{% endblock %}

{% block exampleStyles %}
{% endblock %}

{% block content %}
<div class="container-base-default container-title">
    <h1>{% block pageTitle %}{% endblock %}</h1>

    <div class="my-3 p-3 bg-white rounded shadow-sm container-base-default main-container">
        <form id="form-example" class="needs-validation" onsubmit="submitForm(event)" novalidate>
            {% block userInput %}{% endblock %}
                    
            <hr class="mb-4">

            <div class="select-model-deployment-container">
                <label for="deploymentName" class="bold">Selecione o Model Deployment:</label>
                <select class="form-select" id="deploymentName" name="deploymentName" aria-label="Selecione o Model Deployment" required></select>
                <div class="invalid-feedback">
                    Campo obrigatório.
                </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">
                <span class="spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                <span class="text">Executar</span>
            </button>

            <button class="btn btn-light btn-lg btn-block reset-button" type="button">
                Resetar
            </button>
        </form>

        <div class="alert alert-danger alert-dismissible fade d-none" role="alert">
            <span class="errorMessage">Mensagem de erro</span> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm container-base-default result-container">
        <div class="result-text-container">
            <!-- O retorno da api aparecerá aqui -->
        </div>

        <!-- <div class="options-container">
            <button class="active">Código Python</button>
            <button>Prompt</button>
            <button>Resposta</button>
        </div> -->

        <h5>Código Executado</h5>

        <div class="option-content-container">
<pre><code class="executed-code">import openai

openai.api_key = { AZURE_OPENAI_API_KEY }
openai.api_base = { AZURE_OPENAI__API_ENDPOINT }
openai.api_type = 'azure'
openai.api_version = '2023-05-15'

modelDeployment = "textdavince003"

response = openai.Completion.create(
    engine=modelDeployment,
    prompt=prompt,
    max_tokens=100
)

result = response['choices'][0]['text'].replace('\n', '').replace(' .', '.').strip()</code></pre>
        </div>
    </div>

    {% block exampleScripts %}{% endblock %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='/scripts/app/alert.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='/scripts/app/validate-form.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='/scripts/examples/base-example.js') }}"></script>
{% endblock %}