{% extends 'examples/base-example.html' %}

{% block exampleStyles %}
{% endblock %}

{% block pageTitle %}Sugestão de slogan para uma loja{% endblock %}

{% block userInput %}
<input type="hidden" id="storageName" name="storageName" value="lastTaglineShop" />
<input type="hidden" id="openaiEndpointName" name="openaiEndpointName" value="generate-tagline-shop" />
<div class="row">
    <div class="item">
        <label for="shopName">Escreva um seguimento de loja para que seja gerada uma sugestão de Slogan:</label>
        <input type="text" class="form-control" id="shopName" name="shopName" placeholder="Ex.: Concessionária de Veículos" value="" required>
        <div class="invalid-feedback">
            Campo obrigatório.
        </div>
    </div>
</div>
{% endblock %}

{% block exampleScripts %}
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='/scripts/examples/tagline-shop.js') }}"></script>
{% endblock %}